.task-list {
    margin-top: 20px;
    width: 300px;
  }
  
  .task-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .task-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .task-list ul li:last-child {
    border-bottom: none;
  }
  
  .task-list ul li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-list ul li button:hover {
    background-color: #d32f2f;
  }
  